.idea
.vscode
*.pyc
COLCON_IGNORE
AMENT_IGNORE
cmake-build-*/
build/
install/
log/
docker/.vscode-server/
franka_bringup/config/*.yaml
!franka_bringup/config/dual_arm_extrinsics_demo.yaml
!franka_bringup/config/controllers.yaml
docker/secrets/
docker/*.env