# user setting, set the ids to be the same to those on host (id -u / id -g) to avoid permission issues with bind mounted files
USER_UID=1000
USER_GID=1000
USERNAME=ubuntu

# any number in the range of 0 and 101, seperate different domain with different number
ROS_DOMAIN_ID=0
# https://docs.ros.org/en/jazzy/Tutorials/Advanced/Improved-Dynamic-Discovery.html#configuration-parameters
# not used for zenoh rmw, only for dds based rmw
ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET

# the following are used in docker build secrets, relative to docker folder
# sudo password path
SUDO_PASSWORD_PATH=./secrets/sudo_password.secret
